global
  daemon
  maxconn 256

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

frontend http_front
  bind *:80
  mode http
  default_backend http_back

backend http_back
  mode http
  balance roundrobin
  {% for server in nginx_servers.split('\n') %}
  server nginx{{ loop.index }} {{ server }}:80 check
  {% endfor %}
